<h1 class="page-header">
    {{ title }}
</h1>
<form (ngSubmit)="update()">
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" [(ngModel)]="account.username">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" [(ngModel)]="account.password">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>