.users-table {
    .col-id{
        width:50px;
        text-align: right;
    }
    .col-action{
        width:100px;
        text-align: center;
    }
    .toolbar{
        padding-bottom: 5px;
    }
}